/* Eric Meyer's CSS Reset */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
/* ================================================ */
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400;
  font-style: normal;
}
/* ========================================================================== 
    
   typography 
   ========================================================================== */
.content-box.wrapper-ecooter {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  cursor: default;
  width: 100%;
  overflow: hidden;
  max-width: 1366px;
  margin: 0 auto;
}
@media screen and (max-width: 1365px) {
  .content-box.wrapper-ecooter {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .content-box.wrapper-ecooter {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .content-box.wrapper-ecooter {
    font-size: 14px;
  }
}

.content-box.wrapper-ecooter a {
  text-decoration: none;
}

.content-box.wrapper-ecooter h2.title-h2,
.content-box.wrapper-ecooter p,
.content-box.wrapper-ecooter span {
  font-family: inherit;
}

.content-box.wrapper-ecooter h2.title-h2 {
  font-size: 40px;
  line-height: inherit;
  font-weight: 400;
  position: relative;
  padding-left: 64px;
}
@media screen and (max-width: 1365px) {
  .content-box.wrapper-ecooter h2.title-h2 {
    font-size: 35px;
    padding-left: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .content-box.wrapper-ecooter h2.title-h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .content-box.wrapper-ecooter h2.title-h2 {
    font-size: 20px;
  }
}
.content-box.wrapper-ecooter h2.title-h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 36px;
  position: absolute;
  top: 8px;
  left: 0;
  background: url("./images/for_text.svg") no-repeat;
}
@media screen and (max-width: 1365px) {
  .content-box.wrapper-ecooter h2.title-h2::before {
    width: 26px;
    height: 30px;
    top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .content-box.wrapper-ecooter h2.title-h2::before {
    top: 4px;
  }
}

.content-box.wrapper-ecooter p {
  font-size: inherit;
  font-weight: inherit;
  line-height: 25px;
}
@media screen and (max-width: 1365px) {
  .content-box.wrapper-ecooter p {
    line-height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .content-box.wrapper-ecooter p {
    line-height: 18px;
  }
}

.detail-info {
  text-align: left;
}
.detail-info .big {
  font-size: 60px;
}
@media screen and (max-width: 1365px) {
  .detail-info .big {
    font-size: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .detail-info .big {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .detail-info .big {
    font-size: 30px;
  }
}
.detail-info .small {
  font-size: 30px;
}
@media screen and (max-width: 1365px) {
  .detail-info .small {
    font-size: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .detail-info .small {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .detail-info .small {
    font-size: 18px;
  }
}

/* ========================================================================== 
    
   colors
   ========================================================================== */
.text-light {
  color: #ffffff;
}

.text-dark {
  color: inherit;
}

.page-section.section-motor {
  background: #000000 url("./images/aima_tiger_03.jpg") 0 0 no-repeat;
}
@media screen and (max-width: 1365px) {
  .page-section.section-motor {
    background-position-x: -44px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-motor {
    background-position: -110px -35px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-motor {
    background: none;
  }
}

.page-section.section-music {
  background: url("./images/aima_tiger_05.jpg") no-repeat;
}
@media screen and (max-width: 1365px) {
  .page-section.section-music {
    background: url(./images/aima_tiger_1024_03.jpg) no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-music {
    background-position-x: -30px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-music {
    background: none;
  }
}

.page-section.section-light {
  background: url("./images/aima_tiger_06.jpg") no-repeat;
}
@media screen and (max-width: 1365px) {
  .page-section.section-light {
    background: url("./images/aima_tiger_1024_04.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1024px) {
  .page-section.section-light {
    background: url("./images/aima_tiger_768_05.jpg") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-light {
    background: none;
  }
}

.page-section.section-footer {
  background: url("./images/aima_tiger_09.jpg") no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1365px) {
  .page-section.section-footer {
    background-position-x: 45%;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-footer {
    background: url("./images/aima_tiger_768_08.jpg") no-repeat;
    background-size: cover;
    background-position-x: 0;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-footer {
    background-color: #000000;
    background-size: cover;
    background-position: 0 120px;
  }
}

.gradient-text {
  background: -webkit-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -moz-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -o-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -ms-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ==================================================== */
/* indents
   ========================================================================== */
.indent-big {
  margin-bottom: 100px;
}
@media screen and (max-width: 1365px) {
  .indent-big {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .indent-big {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .indent-big {
    margin-bottom: 40px;
  }
}

.indent-middle {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .indent-middle {
    margin-bottom: 20px;
  }
}

/* mixins
========================================================================== */
.page-section.section-description p {
  max-width: 450px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-description p {
    max-width: 380px;
  }
}

/* ========================================================================== 
 
page-section
========================================================================== */
.page-section {
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
}
.page-section img {
  display: block;
  height: auto;
}
.page-section .video-tiger {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1365px) {
  .page-section .video-tiger iframe {
    height: 550px;
  }
}
@media screen and (max-width: 1024px) {
  .page-section .video-tiger iframe {
    height: 343px;
  }
}
@media screen and (max-width: 414px) {
  .page-section .video-tiger iframe {
    height: 180px;
  }
}

/* ========================================================================== 
 
section-header
========================================================================== */
.section-header img {
  width: 100%;
}
.section-header .image-mobile {
  display: none;
}
@media screen and (max-width: 414px) {
  .section-header .image-mobile {
    display: block;
  }
}
@media screen and (max-width: 414px) {
  .section-header .image-desctop {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  .section-header .detail-block li.detail-info {
    max-width: 160px;
    padding-left: 50px;
  }
  .section-header .detail-block li.detail-info:first-child {
    max-width: 120px;
    padding-left: 0;
  }
}
@media screen and (max-width: 1365px) and (max-width: 1023px) {
  .section-header .detail-block li.detail-info:first-child {
    max-width: 94px;
  }
}
@media screen and (max-width: 1365px) and (max-width: 414px) {
  .section-header .detail-block li.detail-info:first-child {
    max-width: 104px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1365px) {
  .section-header .detail-block li.detail-info:nth-child(2) {
    max-width: 150px;
  }
}
@media screen and (max-width: 1365px) and (max-width: 1023px) {
  .section-header .detail-block li.detail-info:nth-child(2) {
    max-width: 120px;
  }
}
@media screen and (max-width: 1365px) and (max-width: 1023px) {
  .section-header .detail-block li.detail-info:nth-child(3) {
    max-width: 104px;
  }
}
@media screen and (max-width: 1365px) and (max-width: 1023px) and (max-width: 414px) {
  .section-header .detail-block li.detail-info:nth-child(3) {
    padding-left: 0;
  }
}
@media screen and (max-width: 1365px) and (max-width: 614px) {
  .section-header .detail-block li.detail-info {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1365px) and (max-width: 541px) {
  .section-header .detail-block li.detail-info:first-child {
    margin-bottom: 20px;
  }
  .section-header .detail-block li.detail-info:last-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 1365px) and (max-width: 541px) and (max-width: 385px) {
  .section-header .detail-block li.detail-info:last-child {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1365px) {
  .section-header .detail-block li.detail-info p {
    height: 40px;
  }
}

/* detail-block  
========================================================================== */
.detail-block {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 614px) {
  .detail-block {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 16px 0 18px;
  }
}
.detail-block .detail-info + .detail-info {
  padding-left: 100px;
}
@media screen and (max-width: 1365px) {
  .detail-block .detail-info + .detail-info {
    padding-left: 80px;
  }
}

/* section-row  
========================================================================== */
.section-row {
  display: flex;
  align-items: center;
}
.section-row .section-left {
  flex-basis: 55%;
}
@media screen and (max-width: 1365px) {
  .section-row .section-left {
    flex-basis: 45%;
  }
}
.section-row p {
  text-align: left;
}

/* section-description 
========================================================================== */
.section-description {
  padding: 0 0 0 24px;
}
@media screen and (max-width: 1365px) {
  .section-description {
    padding: 0;
  }
  .section-description .section-left img {
    width: 468px;
  }
}
@media screen and (max-width: 1023px) {
  .section-description .section-left img {
    width: inherit;
  }
}
@media screen and (max-width: 767px) {
  .section-description .section-left img {
    width: 95%;
  }
}
.section-description .section-right {
  margin-left: 120px;
}
@media screen and (max-width: 1365px) {
  .section-description .section-right {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1023px) {
  .section-description .section-right {
    margin-left: 0;
  }
  .section-description .section-right p {
    text-align: center;
    max-width: 100%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section-description .section-right p {
    text-align: left;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .section-description.section-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .section-description.section-row .section-left {
    order: 2;
    flex-grow: 1;
  }
  .section-description.section-row .section-right {
    order: 1;
    padding: 0 50px;
  }
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  .section-description.section-row .section-right {
    padding: 0 16px 0 18px;
  }
}
/* section-motor
========================================================================== */
.section-motor {
  height: 500px;
}
@media screen and (max-width: 1365px) {
  .section-motor {
    height: 430px;
  }
  .section-motor .section-left {
    flex-basis: 52%;
  }
  .section-motor h2.title-h2.indent-middle {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 1023px) {
  .section-motor {
    height: 340px;
  }
}
@media screen and (max-width: 767px) {
  .section-motor .section-left {
    flex-basis: 100%;
  }
  .section-motor .section-left img {
    width: 100%;
  }
}
.section-motor img {
  display: none;
}
@media screen and (max-width: 767px) {
  .section-motor img {
    display: block;
  }
}
.section-motor p {
  max-width: 404px;
}
@media screen and (max-width: 1023px) {
  .section-motor p {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .section-motor p {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section-motor {
    flex-wrap: wrap;
    height: auto;
  }
  .section-motor .section-right {
    margin-top: 20px;
    padding: 0 16px 0 18px;
  }
  .section-motor .section-right .text-light {
    color: #000000;
  }
  .section-motor h2.title-h2.indent-middle {
    margin-bottom: 20px;
  }
}

/* section-parts
========================================================================== */
.page-section.section-parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-parts {
    padding-top: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-parts {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-parts {
    padding: 80px 16px 0 18px;
  }
}

/* shema-wrapper
========================================================================== */
.shema-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  .shema-wrapper {
    flex-wrap: wrap;
  }
}
.shema-wrapper .left,
.shema-wrapper .right {
  width: 245px;
}
@media screen and (max-width: 1365px) {
  .shema-wrapper .left,
.shema-wrapper .right {
    width: 212px;
  }
  .shema-wrapper .left .wrapper img,
.shema-wrapper .left .wrapper-bottom img,
.shema-wrapper .right .wrapper img,
.shema-wrapper .right .wrapper-bottom img {
    width: 170px;
  }
  .shema-wrapper .left .details-ecooter .wrapper-bottom .indent-middle,
.shema-wrapper .left .details-ecooter .wrapper .indent-middle,
.shema-wrapper .right .details-ecooter .wrapper-bottom .indent-middle,
.shema-wrapper .right .details-ecooter .wrapper .indent-middle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .shema-wrapper .left,
.shema-wrapper .right {
    width: 50%;
  }
  .shema-wrapper .left p,
.shema-wrapper .right p {
    max-width: 216px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .shema-wrapper .left,
.shema-wrapper .right {
    width: 135px;
  }
  .shema-wrapper .left .indent-middle,
.shema-wrapper .right .indent-middle {
    height: 130px;
  }
  .shema-wrapper .left .wrapper img,
.shema-wrapper .left .wrapper-bottom img,
.shema-wrapper .right .wrapper img,
.shema-wrapper .right .wrapper-bottom img {
    width: 116px;
  }
  .shema-wrapper .left p,
.shema-wrapper .right p {
    max-width: 130px;
    text-align: left;
  }
}
.shema-wrapper .right {
  position: relative;
}
.shema-wrapper .right .wrapper {
  position: absolute;
  top: -18px;
}
@media screen and (max-width: 1365px) {
  .shema-wrapper .right .wrapper {
    left: calc(50% - 108px);
  }
}
@media screen and (max-width: 767px) {
  .shema-wrapper .right .wrapper {
    position: static;
  }
  .shema-wrapper .right .wrapper .detail-image {
    position: relative;
    height: 130px;
  }
  .shema-wrapper .right .wrapper .detail-image .part-ecooter {
    position: absolute;
    top: -12px;
    right: 0;
  }
}
.shema-wrapper .right .wrapper-bottom {
  padding-top: 380px;
}
@media screen and (max-width: 1365px) {
  .shema-wrapper .right .wrapper-bottom {
    padding-top: 330px;
  }
}
@media screen and (max-width: 767px) {
  .shema-wrapper .right .wrapper-bottom {
    padding-top: 0;
  }
  .shema-wrapper .right .wrapper-bottom .detail-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.shema-wrapper .photo-ecooter {
  align-self: flex-start;
  padding: 0 0 0 50px;
}
@media screen and (max-width: 1365px) {
  .shema-wrapper .photo-ecooter {
    padding: 50px 0 0 24px;
  }
}
@media screen and (max-width: 1023px) {
  .shema-wrapper .photo-ecooter {
    padding: 60px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .shema-wrapper .photo-ecooter {
    padding: 40px 0 0 0;
  }
}
.shema-wrapper .photo-ecooter .full-ecooter {
  width: 675px;
}
@media screen and (max-width: 1365px) {
  .shema-wrapper .photo-ecooter .full-ecooter {
    width: 465px;
  }
}
@media screen and (max-width: 1023px) {
  .shema-wrapper .photo-ecooter .full-ecooter {
    width: 560px;
  }
}
@media screen and (max-width: 767px) {
  .shema-wrapper .photo-ecooter .full-ecooter {
    width: 85vw;
  }
}
@media screen and (max-width: 1023px) {
  .shema-wrapper .photo-ecooter {
    order: 3;
  }
}
.shema-wrapper .wrapper,
.shema-wrapper .wrapper-bottom {
  text-align: center;
}
.shema-wrapper .text-height {
  height: 100px;
}
@media screen and (max-width: 1023px) {
  .shema-wrapper .text-height {
    height: 100px;
  }
}
.shema-wrapper .part-ecooter {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .shema-wrapper .part-ecooter {
    margin: 0;
  }
}

/* section-music
========================================================================== */
.page-section.section-music {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 140px;
  height: 395px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-music {
    padding-left: 60px;
    height: 368px;
  }
  .page-section.section-music h2.title-h2.indent-middle {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-music {
    height: 406px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-music {
    padding: 0 0 40px;
    height: auto;
  }
  .page-section.section-music h2.title-h2.indent-middle {
    margin-bottom: 20px;
  }
  .page-section.section-music .wrapper-text {
    padding: 0 16px 0 18px;
  }
}
.page-section.section-music h2.title-h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  width: 125px;
  height: 36px;
  margin-left: 38px;
  background: url("./images/b.svg") 0 0 no-repeat, url("./images/line.svg") 42px -4px no-repeat, url("./images/fm.svg") 58px -2px no-repeat;
}
@media screen and (max-width: 1365px) {
  .page-section.section-music h2.title-h2::after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-music h2.title-h2 {
    color: #000000;
    margin-top: 20px;
  }
}
.page-section.section-music p {
  max-width: 614px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-music p {
    max-width: 388px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-music p {
    color: #000000;
  }
}
.page-section.section-music .images-icon {
  display: none;
}
@media screen and (max-width: 1365px) {
  .page-section.section-music .images-icon {
    display: flex;
    padding-top: 20px;
  }
  .page-section.section-music .images-icon img {
    width: 30px;
    height: 28px;
  }
  .page-section.section-music .images-icon img:nth-child(2) {
    height: 32px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-music .images-icon {
    display: none;
  }
}
.page-section.section-music .music-image {
  display: none;
}
@media screen and (max-width: 767px) {
  .page-section.section-music .music-image {
    display: block;
    width: 100%;
  }
}

/* section-light
========================================================================== */
.page-section.section-light {
  height: 518px;
  align-items: flex-start;
  padding-top: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 1365px) {
  .page-section.section-light {
    height: 434px;
    padding-top: 80px;
  }
  .page-section.section-light .section-left {
    flex-basis: 58%;
  }
  .page-section.section-light h2.title-h2.indent-middle {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-light {
    padding-top: 60px;
  }
  .page-section.section-light .section-left {
    flex-basis: 52%;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-light {
    flex-wrap: wrap;
    padding-top: 0;
    height: auto;
  }
  .page-section.section-light h2.title-h2.indent-middle {
    margin-bottom: 20px;
  }
  .page-section.section-light .section-left {
    flex-grow: 1;
  }
  .page-section.section-light .section-right {
    background: #000000;
    padding: 40px 16px 40px 18px;
  }
}
.page-section.section-light p {
  max-width: 482px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-light p {
    max-width: 376px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-light p {
    max-width: 324px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-light p {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-light .section-left {
    background: #000000;
  }
}
.page-section.section-light .section-left .mobile-image {
  display: none;
}
@media screen and (max-width: 767px) {
  .page-section.section-light .section-left .mobile-image {
    display: block;
    max-width: 414px;
    margin: 0 auto;
    height: 416px;
  }
}

/* section-comfort
========================================================================== */
.page-section.section-comfort {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0;
}
@media screen and (max-width: 1365px) {
  .page-section.section-comfort {
    padding-top: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-comfort {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort {
    padding-top: 40px;
  }
  .page-section.section-comfort .image-comfort.indent-middle {
    margin-bottom: 40px;
  }
}
.page-section.section-comfort .wrapper-comfort {
  padding: 0 16px 0 18px;
}
.page-section.section-comfort .image-comfort {
  display: flex;
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .image-comfort img {
    width: 100%;
  }
}
.page-section.section-comfort .image-comfort img:last-child {
  margin-left: 4px;
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .image-comfort img:last-child {
    margin-left: 0;
    margin-top: 4px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .image-comfort {
    flex-wrap: wrap;
  }
}
.page-section.section-comfort .detail-block {
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .detail-block {
    flex-wrap: wrap;
    padding: 0 16px 0 18px;
  }
}
.page-section.section-comfort .detail-block img {
  width: 90px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .detail-block img {
    width: 76px;
  }
}
.page-section.section-comfort .detail-info + .detail-info {
  padding-left: 0;
}
.page-section.section-comfort .detail-info {
  flex-basis: 25%;
  text-align: center;
}
.page-section.section-comfort .detail-info .detail-image {
  height: 58px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1365px) {
  .page-section.section-comfort .detail-info .detail-image {
    height: 62px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-comfort .detail-info .detail-image {
    height: 70px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .detail-info .detail-image {
    display: flex;
    height: 90px;
    margin-bottom: 0;
  }
}
.page-section.section-comfort .detail-info p {
  padding: 0 24px;
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .detail-info p {
    padding: 0 0 0 14px;
    align-self: center;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-comfort .detail-info {
    display: flex;
    flex-basis: 100%;
    text-align: left;
  }
}

/* section-footer
 ========================================================================== */
.page-section.section-footer {
  height: 330px;
  padding: 60px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1365px) {
  .page-section.section-footer {
    padding: 40px 24px;
  }
}
@media screen and (max-width: 1023px) {
  .page-section.section-footer {
    height: 264px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-footer {
    padding: 40px 16px 40px 18px;
  }
}
.page-section.section-footer .detail-block .detail-image {
  margin-bottom: 20px;
}
@media screen and (max-width: 414px) {
  .page-section.section-footer .detail-block {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  .page-section.section-footer .detail-block .detail-info + .detail-info {
    padding-left: 0;
  }
}
.page-section.section-footer .detail-block img {
  width: 80px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .page-section.section-footer .detail-block img {
    width: 70px;
  }
}
@media screen and (max-width: 767px) {
  .page-section.section-footer .detail-block img {
    width: 50px;
    margin: 0;
  }
}
.page-section.section-footer .detail-block .detail-info {
  text-align: center;
  width: 164px;
}
@media screen and (max-width: 767px) {
  .page-section.section-footer .detail-block .detail-info {
    width: 126px;
    text-align: left;
  }
}
.page-section.section-footer .detail-block .detail-info:first-child {
  padding-left: 70px;
}
@media screen and (max-width: 1023px) {
  .page-section.section-footer .detail-block .detail-info:first-child {
    padding-left: 0;
  }
}

/*# sourceMappingURL=index.css.map */
