/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

/* ================================================ */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');



@font-face { 
  font-family: 'Ubuntu'; 
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-weight: 400; 
  font-style: normal; 
}

// @font-face { 
//   font-family: 'FontName'; 
//   src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v12/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//   font-weight: 500; 
//   font-style: normal; 
// }
// .content-box.wrapper-ecooter h2.title-h2 {
//   font-family: FontName;
//   font-weight: 500;
// }

/* ========================================================================== 
    
   typography 
   ========================================================================== */

   .content-box.wrapper-ecooter {
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    color: #000000;
    @media screen and (max-width: 1365px) {
      font-size: 16px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 15px;
    }
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
    background-color: #ffffff;
    cursor: default;
    width: 100%;
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;
}

.content-box.wrapper-ecooter a {
    text-decoration: none;
}

.content-box.wrapper-ecooter {
  h2.title-h2,
  p,
  span {
    font-family: inherit;
  }
}

.content-box.wrapper-ecooter {
  h2.title-h2 {
    font-size: 40px;
    line-height: inherit;
    font-weight: 400;
    position: relative;
    padding-left: 64px;
    @media screen and (max-width: 1365px) {
      font-size: 35px;
      padding-left: 40px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 30px;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
    &::before{
      content: '';
      display: inline-block;
      width: 40px;
      height: 36px;
      position: absolute;
      top: 8px;
      left: 0;
      @media screen and (max-width: 1365px) {
        width: 26px;
        height: 30px;
        top: 12px;
      }
      @media screen and (max-width: 767px) {
        top: 4px;
      }
      background: url("./images/for_text.svg") no-repeat;
    }
}
}

.content-box.wrapper-ecooter {
  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: 25px;
    @media screen and (max-width: 1365px) {
      line-height: 20px;
    }
    @media screen and (max-width: 767px) {
      line-height: 18px;
    }
  }
} 

.detail-info {
  text-align: left;
  .big {
    font-size: 60px;
    @media screen and (max-width: 1365px) {
      font-size: 50px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 40px;
    }
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  .small {
    font-size: 30px;
    @media screen and (max-width: 1365px) {
      font-size: 25px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 20px;
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

/* ========================================================================== 
    
   colors
   ========================================================================== */

.text-light {
    color: #ffffff;
}

.text-dark {
    color: inherit;
}

.page-section.section-motor {
  background:  #000000 url("./images/aima_tiger_03.jpg") 0 0 no-repeat;
  @media screen and (max-width: 1365px) {
    background-position-x: -44px;
  }
  @media screen and (max-width: 1023px) {
    background-position: -110px -35px;
  }
  @media screen and (max-width: 767px) {
    background: none;
  }
}

.page-section.section-music {
  background: url("./images/aima_tiger_05.jpg") no-repeat;
  @media screen and (max-width: 1365px) {
    background: url(./images/aima_tiger_1024_03.jpg) no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 1023px) {
    background-position-x: -30px;
  }
  @media screen and (max-width: 767px) {
    background: none;
  }
}

.page-section.section-light {
  background: url("./images/aima_tiger_06.jpg") no-repeat;
  @media screen and (max-width: 1365px) {
    background: url("./images/aima_tiger_1024_04.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 1024px) {
    background: url("./images/aima_tiger_768_05.jpg") no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 767px) {
    background: none;
  }
}

.page-section.section-footer {
  background: url("./images/aima_tiger_09.jpg") no-repeat;
  background-size: cover;
  @media screen and (max-width: 1365px) {
    background-position-x: 45%;
  }
  @media screen and (max-width: 1023px) {
    background: url("./images/aima_tiger_768_08.jpg") no-repeat;
  background-size: cover;
  background-position-x: 0;
  }
  @media screen and (max-width: 767px) {
    background-color: #000000;
  background-size: cover;
  background-position: 0 120px;
  }
}

.gradient-text {
  background: -webkit-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -moz-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -o-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: -ms-linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  background: linear-gradient(166deg, #e1008e 0%, #9a0061 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ==================================================== */

/* indents
   ========================================================================== */

   .indent-big {
    margin-bottom: 100px;
    @media screen and (max-width: 1365px) {
      margin-bottom: 80px;
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }
   }

   .indent-middle {
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
   }
   
   /* mixins
   ========================================================================== */
   .page-section.section-description {
     p {
       max-width: 450px;
       @media screen and (max-width: 1365px) {
        max-width: 380px;
       }
     }
   }
   /* ========================================================================== 
    
   page-section
   ========================================================================== */

.page-section {
   position: relative;
   background-color: #ffffff;
   box-sizing: border-box;
  img {
    display: block;
    height: auto;
 } 
 .video-tiger {
   width: 100%;
   height: auto;
   @media screen and (max-width: 1365px) {
    iframe {
      height: 550px;
    }
   }
   @media screen and (max-width: 1024px) {
    iframe {
      height: 343px;
    }
  }
  @media screen and (max-width: 414px) {
    iframe {
      height: 180px;
    }
  }
 }
}
   /* ========================================================================== 
    
   section-header
   ========================================================================== */

   .section-header {
     img {
       width: 100%;
     }
     .image-mobile {
       display: none;
       @media screen and (max-width: 414px) {
        display: block;
       }
     }
     @media screen and (max-width: 414px) {
       .image-desctop {
         display: none;
       }
     }
     .detail-block{
      li.detail-info {
        @media screen and (max-width: 1365px) {
          max-width: 160px;
          padding-left: 50px;
            &:first-child {
              max-width: 120px;
              padding-left: 0;
              @media screen and (max-width: 1023px) {
                max-width: 94px;
              }
              @media screen and (max-width: 414px) {
                max-width: 104px;
                margin-bottom: 20px;
              }
            }
            &:nth-child(2) {
              max-width: 150px;
              @media screen and (max-width: 1023px) {
                max-width: 120px;
              }
            }
            @media screen and (max-width: 1023px) {
              &:nth-child(3) {
                max-width: 104px;
                @media screen and (max-width: 414px) {
                  padding-left: 0;
                }
                
              }
            }
            @media screen and (max-width: 614px) {
              padding-left: 24px;
            }
            @media screen and (max-width: 541px) {
              &:first-child {
                margin-bottom: 20px;
              }
              &:last-child {
                padding-left: 0;
                @media screen and (max-width: 385px) {
                  padding-left: 24px;
                }
              }
            }
            p {
              height: 40px;
            }
        }
       }
     }
   }

   /* detail-block  
   ========================================================================== */

   .detail-block {
     display: flex;
     justify-content: center;
     @media screen and (max-width: 614px) {
       justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0 16px 0 18px;
    }

     .detail-info + .detail-info {
       padding-left: 100px;
       @media screen and (max-width: 1365px) {
        padding-left: 80px;
      }
     }
      
   }

   /* section-row  
   ========================================================================== */

   .section-row {
     display: flex;
     align-items: center;
     .section-left {
      flex-basis: 55%;
      @media screen and (max-width: 1365px) {
        flex-basis: 45%;
      }
    }
     p {
       text-align: left;
     }
   }

    /* section-description 
   ========================================================================== */

   .section-description {
    padding: 0 0 0 24px;
    @media screen and (max-width: 1365px) {
      padding: 0;
      .section-left {
        img {
          width: 468px;
        }
      }
    }
    @media screen and (max-width: 1023px) {
      .section-left {
        img {
          width: inherit;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .section-left {
        img {
          width: 95%;
        }
      }
    }
     .section-right {
       margin-left: 120px;
       @media screen and (max-width: 1365px) {
         margin-left: 50px;
       }
       @media screen and (max-width: 1023px) {
        margin-left: 0;
        p {
          text-align: center;
          max-width: 100%;
          margin-bottom: 60px;
        }
      }
      @media screen and (max-width: 767px) {
        p {
          text-align: left;
          margin-bottom: 20px;
        }
      }
     }
   }

   @media screen and (max-width: 1023px) {
    .section-description.section-row {
      flex-wrap: wrap;
      justify-content: center;
      .section-left {
        order: 2;
        flex-grow: 1;
      }
      .section-right {
        order: 1;
        padding: 0 50px;
        @media screen and (max-width: 767px) {
          padding: 0 16px 0 18px;
        }
      }
    }
  }

    /* section-motor
   ========================================================================== */

   .section-motor {
     height: 500px;
     @media screen and (max-width: 1365px) {
      height: 430px;
      .section-left {
        flex-basis: 52%;
      }
      h2.title-h2.indent-middle {
        margin-bottom: 26px;
      }
     }
     @media screen and (max-width: 1023px) {
      height: 340px;
     }
     @media screen and (max-width: 767px) {
      .section-left {
        flex-basis: 100%;
        img {
          width: 100%;
        }
      }
     }
     img {
       display: none;
       @media screen and (max-width: 767px) {
        display: block;
       }
     }
     p {
       max-width: 404px;
       @media screen and (max-width: 1023px) {
        max-width: 300px;
       }
       @media screen and (max-width: 767px) {
        max-width: 100%;
       }
     }
     @media screen and (max-width: 767px) {
       flex-wrap: wrap;
       height: auto;
      .section-right {
        margin-top: 20px;
        padding: 0 16px 0 18px;
        .text-light {
          color: #000000;
        }
      }
      h2.title-h2.indent-middle {
        margin-bottom: 20px;
      }
     }
   }

    /* section-parts
   ========================================================================== */

   .page-section.section-parts {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 100px;
     @media screen and (max-width: 1365px) {
      padding-top: 80px;
     }
     @media screen and (max-width: 1023px) {
      padding-top: 60px;
     }
     @media screen and (max-width: 767px) {
      padding: 80px 16px 0 18px;
     }
   }

   /* shema-wrapper
   ========================================================================== */

   .shema-wrapper {
     display: flex;
     justify-content: center;
     align-items: flex-start;
     @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
     }

     .left,
     .right {
       width: 245px;
       @media screen and (max-width: 1365px) {
         width: 212px;
        .wrapper,
        .wrapper-bottom {
          img {
            width: 170px;
          }
        }
          .details-ecooter {
          .wrapper-bottom,
          .wrapper {
            .indent-middle {
              margin-bottom: 20px;
            }
          }
        }
       }
       @media screen and (max-width: 1023px) {
        width: 50%;
        p {
          max-width: 216px;
          margin: 0 auto;
        }
       }
       @media screen and (max-width: 767px) {
         width: 135px;
         .indent-middle {
          height: 130px;
        }
        .wrapper,
        .wrapper-bottom {
          img {
            width: 116px;
          }
        }
        p {
          max-width: 130px;
          text-align: left;
        }
       }
     }
     .right {
       position: relative;
       .wrapper{
        position: absolute;
        top: -18px;
        @media screen and (max-width: 1365px) {
          left: calc(50% - 108px);
        }
        @media screen and (max-width: 767px) {
          position: static;
          .detail-image {
            position: relative;
            height: 130px;
            .part-ecooter {
              position: absolute;
              top: -12px;
              right: 0;
            }
          }   
        }
       }
       .wrapper-bottom {
        padding-top: 380px;
        @media screen and (max-width: 1365px) {
          padding-top: 330px;
        }
        @media screen and (max-width: 767px) {
          padding-top: 0;
          .detail-image {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
       }
     }
     .photo-ecooter {
       align-self: flex-start;
       padding: 0 0 0 50px;
       @media screen and (max-width: 1365px) {
        padding: 50px 0 0 24px;
       }
       @media screen and (max-width: 1023px) {
        padding: 60px 0 0 0;
       }
       @media screen and (max-width: 767px) {
        padding: 40px 0 0 0;
       }
       .full-ecooter {
         width: 675px;
         @media screen and (max-width: 1365px) {
          width: 465px;
         }
         @media screen and (max-width: 1023px) {
          width: 560px;
         }
         @media screen and (max-width: 767px) {
          width: 85vw;
         }
       }
       @media screen and (max-width: 1023px) {
        order: 3;
       }
     }

     .wrapper,
     .wrapper-bottom {
       text-align: center;
     }

     .text-height {
       height: 100px;
        @media screen and (max-width: 1023px) {
       height: 100px;
       }
     }
     .part-ecooter{
       margin: 0 auto;
       @media screen and (max-width: 767px) {
        margin: 0;
       }
     }
   }

     /* section-music
   ========================================================================== */

   .page-section.section-music {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     padding: 0 0 0 140px;
     height: 395px;
     @media screen and (max-width: 1365px) {
      padding-left: 60px;
      height: 368px;
      h2.title-h2.indent-middle {
        margin-bottom: 26px;
      }
     }
     @media screen and (max-width: 1023px) {
      height: 406px;
     }
     @media screen and (max-width: 767px) {
      padding: 0 0 40px;
      height: auto;
      h2.title-h2.indent-middle {
        margin-bottom: 20px;
      }
      .wrapper-text {
        padding: 0 16px 0 18px;
      }
    }
     h2.title-h2 {
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 4px;
        width: 125px;
        height: 36px;
        margin-left: 38px;
        background: url("./images/b.svg") 0 0 no-repeat,
                    url("./images/line.svg") 42px -4px no-repeat,
                    url("./images/fm.svg") 58px -2px no-repeat;
        @media screen and (max-width: 1365px) {
          display: none;
        }
      }
      @media screen and (max-width: 767px) {
        color: #000000;
        margin-top: 20px;
      }
     }
     p {
       max-width: 614px;
       @media screen and (max-width: 1365px) {
        max-width: 388px;
       }
       @media screen and (max-width: 767px) {
        color: #000000;
       }
     }
     .images-icon {
       display: none;
       @media screen and (max-width: 1365px) {
        display: flex;
        padding-top: 20px;
        img {
          width: 30px;
          height: 28px;
        }
        img:nth-child(2) {
          height: 32px;
        }
       }
       @media screen and (max-width: 767px) {
        display: none;
      }
     }
     .music-image {
       display: none;
      @media screen and (max-width: 767px) {
        display: block;
        width: 100%;
      }
     }
   }

    /* section-light
   ========================================================================== */

   .page-section.section-light {
    height: 518px;
    align-items: flex-start;
    padding-top: 100px;
    box-sizing: border-box;
    @media screen and (max-width: 1365px) {
      height: 434px;
      padding-top: 80px;
      .section-left {
        flex-basis: 58%;
      }
      h2.title-h2.indent-middle {
        margin-bottom: 26px;
      }
    }
    @media screen and (max-width: 1023px) {
      padding-top: 60px;
      .section-left {
        flex-basis: 52%;
      }
    }
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      padding-top: 0;
      height: auto;
      h2.title-h2.indent-middle {
        margin-bottom: 20px;
      }
      .section-left {
        flex-grow: 1;
      }
      .section-right {
        background: #000000;
        padding: 40px 16px 40px 18px;
      }
    }

    p {
      max-width: 482px;
      @media screen and (max-width: 1365px) {
        max-width: 376px;
      }
      @media screen and (max-width: 1023px) {
        max-width: 324px;
      }
      @media screen and (max-width: 767px) {
        max-width: 100%;
      }
    }

    .section-left {
      @media screen and (max-width: 767px) {
        background: #000000;
      }
      .mobile-image {
        display: none;
        @media screen and (max-width: 767px) {
          display: block;
          max-width: 414px;
          margin: 0 auto;
          height: 416px;
        }
      }
    }
   }

       /* section-comfort
   ========================================================================== */

   .page-section.section-comfort {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 0 0;
     @media screen and (max-width: 1365px) {
      padding-top: 80px;
     }
     @media screen and (max-width: 1023px) {
      padding-top: 60px;
     }
     @media screen and (max-width: 767px) {
      padding-top: 40px;
      .image-comfort.indent-middle {
        margin-bottom: 40px;
      }
     }
     .wrapper-comfort {
       padding: 0 16px 0 18px;
     }
     .image-comfort {
      display: flex;
      @media screen and (max-width: 767px) {
        img {
          width: 100%;
        }
      }
      img:last-child{
        margin-left: 4px;
        @media screen and (max-width: 767px) {
          margin-left: 0;
          margin-top: 4px;
        }
      }
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
       }
     }
     .detail-block {
     justify-content: space-between;
     @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      padding: 0 16px 0 18px;
     }
     img {
      width: 90px;
      margin: 0 auto;
      @media screen and (max-width: 767px) {
        width: 76px;
       }
     } 
     }
     .detail-info + .detail-info {
       padding-left: 0;
     }
     .detail-info {
       flex-basis: 25%;
       text-align: center;
       .detail-image {
         height: 58px;
         margin-bottom: 20px;
         @media screen and (max-width: 1365px) {
          height: 62px;
         }
         @media screen and (max-width: 1023px) {
          height: 70px;
         }
         @media screen and (max-width: 767px) {
          display: flex;
          height: 90px;
          margin-bottom: 0;
         }
       }
       p {
         padding: 0 24px;
         @media screen and (max-width: 767px) {
          padding: 0 0 0 14px;
          align-self: center;
         }
       }
       @media screen and (max-width: 767px) {
         display: flex;
        flex-basis: 100%;
        text-align: left;
       }
     }
   }

  /* section-footer
   ========================================================================== */

.page-section.section-footer {
  height: 330px;
  padding: 60px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 1365px) {
    padding: 40px 24px;
  }
  @media screen and (max-width: 1023px) {
    height: 264px;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 16px 40px 18px;
  }
  .detail-block {
    .detail-image {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 414px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      .detail-info + .detail-info {
        padding-left: 0;
      }
    }
    img {
      width: 80px;
      margin: 0 auto;
      @media screen and (max-width: 1023px) {
        width: 70px;
      }
      @media screen and (max-width: 767px) {
        width: 50px;
        margin: 0;
      }
    }
    .detail-info {
      text-align: center;
      width: 164px;
      @media screen and (max-width: 767px) {
        width: 126px;
        text-align: left;
      }
      &:first-child {
        padding-left: 70px;
        @media screen and (max-width: 1023px) {
          padding-left: 0;
        }
      }
    }
  }
}








   


